.home{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

.home .main{
    align-items: center;
    width: 90%;
    margin-left: 15px;
}



/* header */

.home .logo{
    width: 50%;
    margin: 15px;
}

.home .header{
    background-color: #EAC926;
    margin: 0;
    padding: 0;
    height: 180px;
    width: 100%;
}



.home .header .divmobile{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.home .barrabusqueda{
    width: 50%;
    margin-top: 15px;
}



.home .compracuotas{
    margin-left: 40px;
    font-size: 12px;
    margin-bottom: 22px;
}

.home .lista a{
    color: black;
    text-decoration: none;
    font-size: 12px
}

.home .lista{
    list-style: none;
    padding-left: 3px;
    color: black;
    margin-bottom: 30px;
    font-size: 12px;
    display: none;
    
}

.home .burgermenu{
    display: inline;
    margin: 15px 0 0 45%;
    background-color: rgb(33, 89, 192);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 14px;
}

/* productos */

.home .banner{
    padding: 0px 5px 20px 0;
    display: none;
}

.home .basado{
    text-align: center;
}

.home .oferta{
    text-align: center;
}


.home .articulos .imagenproducto{
    width: 100%;
}

.home .articulos{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 5vh;
}

.home .articulos .fa-truck{
  color: #39b54a;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  margin: -2vh 70vw;
  position: absolute;
}


.home .articulos .infoproductos{
    border-top: solid 1px #ebebeb;
    margin-bottom: 5vh;
}

.home .articulos .precioydescuento{
    display: flex;
}

.home .articulos .infoproductos p{
    line-height : 15px;
}

.home h2{
    font-size: 24px;

}

.home .articulos .precio{
    width: 30%;
    margin: 16px;
}

.home .articulos .descuento{
    color: #39b54a;
    width: 70%;
}

.home .articulos .descripcion{
    font-size: 16px;
    margin-left: 10px;
    color: #666;
    font-weight: 400;
    display: none;
    
}


/* footer */

.home .footer{
    background-color: white;
    /* font-size: 12px; */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.home h2{
    color: #666;
}

.home .footer .fa-credit-card{
    margin-top: 30px;
    color: #1259c3;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.home .footer .fa-gift{
    margin-top: 30px;
    color: #1259c3;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.home .footer .fa-user-shield{
    margin-top: 30px;
    color: #1259c3;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.home .footer h4{
    color: #444;
    text-align: center;
    margin-bottom: 0px;
}

.home .footer p{
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    font-size: 12px;
}

.home .footer .copyright {
    margin-top: 15px;
    margin-left: 10px;
    text-align: left;
    font-size: 9px;
}


@media (min-width: 361px) {
  
    .home .main{
        margin-left: 5vw;
    }


/* header */

    .home .header
    {
        height: 35vh;
    }

    .home .logo{
        width: 50%;
        margin: 15px
    }

    .home .barrabusqueda{
        width: 50%;
        margin-left: 15px;
    }



    .home .compracuotas{
    margin-left: 8px;
    font-size: 18px;
    margin-bottom: 22px;
    text-align: center;
}


    .home .lista{
        display: none;
        line-height : 20px;
    }

    .home .lista a{
        margin-left: 12px;
        font-size: 21px;
    }



/* banner */

    .home .banner{
        width: 111%;
        display: inline-block;
        margin-left: -5vw;
    }
 
/* main */

.home .articulos{
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}

.home .articulos .fa-truck{
    font-size: 14px;
    margin: -2vh 70vw;
  }



.home .articulos .imagenproducto{
    width: 100%;
}

.home h2{
    font-size: 40px;
}

.home .articulos .precio{
    font-size: 22px;
    width: 30%;
    margin-top: 3.2vh;
}


.home .articulos .descuento{
    font-size: 22px;
    margin-left: 0vw;
}

.home .articulos .descripcion{
    display: inline-block;
    font-size: 22px;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

/* footer */



.home .footer .fa-credit-card{
    margin-top: 30px;
    font-size: 3.2em;
    margin-bottom: 10px;
}

.home .footer .fa-gift{
    margin-top: 30px;
    font-size: 3.2em;
    margin-bottom: 10px;
}

.home .footer .fa-user-shield{
    margin-top: 30px;
    font-size: 3.2em;
    margin-bottom: 10px;
}


.home .footer p{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 22px;
}



.home .footer .copyright {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 17px;
}

    .home .footer h4{
    font-size: 22px;
}



}

/* tablet */
@media (min-width:769px) {


    .home .main{
        margin-left: 10vw;
    }
    
    /* HEADER */

    .home .header
    {
        height: 24vh;
    }

    .home .header .divtabletdesktop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }


    .home .logo{
        width: 27vw;
    }


.home .barrabusqueda{
    width: 24vw;
    margin-top: 32px;
}

.home .header .compracuotas{
    font-size: 1.55vw;
    margin-bottom: 22px;
    margin-top: 32px;
    margin-right: 2vw;
}



.home .divlista{
    display: flex;
    justify-content: space-between;

}

.home .listamenu li{
    display: inline-block;
    margin-left: -10px;
    }

.home .listausuario li{
    display: inline-block;
    /* margin-right: 2vw; */
}

.home .lista{
    display: inline-block;
}

.home .lista a{
    font-size: 14px;
    padding: 1.2vw;
}

.home .burgermenu{
 display: none;
}

/* BANNER */

.home .banner{
    margin-left: -10vw;
}


/* MAIN */    

.home .contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.home .basado{
    text-align: left;
    font-size: 40px;
    margin-left: -15px;
}

.home .oferta{
    text-align: left;
    font-size: 40px;
    margin-left: -15px;
}

.home .articulos{
    margin-left: -2vw;
    margin-right: 8vw;
    width: 44vh;
}

.home .articulos .fa-truck{
    font-size: 20px;
    margin: -3vh 250px;
  }


    .home h2{
        font-size: 46px;
    }
    
    .home .articulos .precio{
        font-size: 20px;
        margin-top: 3vh;
    }
    
    .home .articulos .descuento{
        font-size: 20px;
    }

    .home .articulos .descripcion{
        font-size: 20px;
        text-align: left;
    }
    
    
    
    /* footer */
    
    .home .footer .fa-credit-card{
        font-size: 3.5em;
    }
    
    .home .footer .fa-gift{
        font-size: 3.5em;
    }
    
    .home .footer .fa-user-shield{
        font-size: 3.5em;
    }
    
    
    .home .footer p{
        font-size: 24px;
    }
    
    .home .footer .copyright {
        font-size: 22px;
    }
    
    .home .footer h4{
        font-size: 26px;
    }
        
}


@media (min-width:1024px) {

    /* header */

    .home .header{
        height: 30vh;
    }

    .home .lista a{
        font-size: 18px;
        padding: 1.2vw;
    }
    


    /* artículos */
    
    .home .basado{
        font-size: 48px;
        margin-left: -8vw;
    }
    
    .home .oferta{
        font-size: 43px;
        margin-left:-8vw;
    }

    .home .articulos{
        margin-left: -8vw;
        margin-right: 2vw;
        width: 33vh;
    }

    .home .articulos .fa-truck{
        font-size: 15px;
        margin: -3vh 178px;
      }


      .home .articulos .precio{
        font-size: 18px;
        margin-top: 2.6vh;
    }
    
    .home .articulos .descuento{
        font-size: 18px;
    }

    .home .articulos .descripcion{
        font-size: 20px;
        text-align: left;
        margin-left: 17px;
    }




/* footer */

.home .footer p{
    font-size: 15px;
}

.home .footer .copyright {
    font-size: 12px;
}

    .home .footer h4{
    font-size: 17px;
}

}

