.home{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

.home .main{
    align-items: center;
    width: 90%;
    margin-left: 15px;
}

/* productos */

.home .banner{
    padding: 0px 5px 20px 0;
    display: none;
}

.home .basado{
    text-align: center;
    color: #666;
    margin-bottom: 2vh;
}

.home .oferta{
    text-align: center;
    color: #666;
    margin-bottom: 2vh;

}


.home .articulos .imagenproducto{
    width: 100%;
}

.home .articulos{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 5vh;
}

.home .articulos .fa-truck{
  color: #39b54a;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  margin: -2vh 70vw;
  position: absolute;
}


.home .articulos .infoproductos{
    border-top: solid 1px #ebebeb;
    margin-bottom: 5vh;
}

.home .articulos .precioydescuento{
    display: flex;
}

.home .articulos .infoproductos p{
    line-height : 15px;
}

.home h2{
    font-size: 24px;

}

.home .articulos .precio{
    width: 30%;
    margin: 16px;
}

.home .articulos .descuento{
    color: #39b54a;
    width: 70%;
    margin-top: 2.250vh;
}

.home .articulos .descripcion{
    font-size: 16px;
    margin-left: 10px;
    color: #666;
    font-weight: 400;
    display: none;
    
}


@media (min-width: 361px) {
  
    .home .main{
        margin-left: 5vw;
    }


/* banner */

    .home .banner{
        width: 111%;
        display: inline-block;
        margin-left: -5vw;
    }
 
/* main */


.home .contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home .articulos{
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}


.home .articulos{
    width: 49%;
}


.home .articulos .fa-truck{
    font-size: 3vw;
    margin: -2vh 30vw;
  }


.home .articulos .imagenproducto{
    width: 100%;
}

.home h2{
    font-size: 40px;
}

.home .articulos .precio{
    font-size: 3vw;
    width: 30%;
    margin-top: 3.8vh;
}


.home .articulos .descuento{
    font-size: 3vw;
    margin-left: 0vw;
    margin-top: 3.8vh;
}

.home .articulos .descripcion{
    display: inline-block;
    font-size: 2.4vh;
    margin-bottom: -4vh;
    margin-top: 2vh;
    margin-left: 2.5vw;
}
}

/* tablet */
@media (min-width:769px) {


    .home .main{
        margin-left: 3vw;
    }

/* BANNER */

.home .banner{
width: 114%;}


/* MAIN */    

.home .contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.home .basado{
    text-align: left;
    font-size: 40px;
}

.home .oferta{
    text-align: left;
    font-size: 40px;
}

.home .articulos{
    width: 23.5%;
    margin-right: 10px;
    margin-left: 1px;
    margin-right: -4vw;
}

.home .articulos .fa-truck{
    font-size: 1.6vw;
    margin: -3vh 16vw;
  }


    .home h2{
        font-size: 46px;
    }
    
    .home .articulos .precio{
        font-size: 1.8vw
    }
    
    .home .articulos .descuento{
        font-size: 1.8vw;
    }

    .home .articulos .descripcion{
        font-size: 1.8vw;
        margin-left: 1.5vw;
    }
    
}